@font-face {
  font-family: VR-Regular;
  src: url('/fonts/VR-Regular.woff2') format('woff2'),
  url('/fonts/VR-Regular.woff') format('woff');
}
@font-face {
  font-family: VR-DemiBold;
  src: url('/fonts/VR-DemiBold.woff2') format('woff2'),
  url('/fonts/VR-DemiBold.woff') format('woff');
}
@font-face {
  font-family: VR-Bold;
  src: url('/fonts/VR-Bold.woff2') format('woff2'),
  url('/fonts/VR-Bold.woff') format('woff');
}
@font-face {
  font-family: VR-Heavy;
  src: url('/fonts/VR-Heavy.woff2') format('woff2'),
  url('/fonts/VR-Heavy.woff') format('woff');
}

:root {
  // Colors
  --primary-hue: 178;
  --primary-saturation: 100%;
  --primary-lightness: 25%;
  --secondary-hue: 0;
  --secondary-saturation: 100%;
  --secondary-lightness: 44%;

  --primary-color: hsl(
                      var(--primary-hue),
                      var(--primary-saturation),
                      var(--primary-lightness)
                    );
  --secondary-color: hsl(
                        var(--secondary-hue),
                        var(--secondary-saturation),
                        var(--secondary-lightness)
                      );

  --black: hsl(0, 0%, 18%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(120, 1%, 68%);

  // Shadows
  --box-shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  
  // Font
  --font-family: 'VR-DemiBold', 'Montserrat', sans-serif;

  // Misc
  --border-radius: 0.8rem;
  --spacing: 1.5rem;

  // --container-width: 

  // Brakepoints
  $breakpoint-xs: 0;
  $breakpoint-sm: 36em; // >=576px / 16px
  $breakpoint-md: 48em; // >=768px
  $breakpoint-lg: 62em; // >=992px
  $breakpoint-xl: 75em; // >=1200px
  $breakpoint-xxl: 88em; // >=1400px
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--font-family);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  color: var(--gray);
}

p {
  font-family: 'VR-Regular', 'Montserrat', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  text-decoration: none;

  img {
    height: 100%;
    border-radius: var(--border-radius);
  }
}

.tabbar {
  --active: var(--primary-color);
  --icon: #6C7486;
  --icon-b-active: #fff;
  --hover: #99A3BA;
  --dot: #23C4F8;
  --text: #6C7486;
  --background: var(--white);
}


